<div class="inicio">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong navBar fixed-top" id="navBars">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->



                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/privacidad">Política de privacidad</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
            <section class="mb-7">

                <!-- Background image -->
                <div class="p-5 text-center bg-image"
                    style="background-image: url(/assets/images/path.jpg); height: 425px; background-size: cover; background-position: 50% 47%; background-color: rgba(0, 0, 0, 0);"
                    aria-controls="#picker-editor"></div> <!-- Background image -->
                <div class="container">
                    <div class="card mx-4 mx-md-5 text-center shadow-5-strong"
                        style=" margin-top: -170px; background: hsla(0, 0%, 100%, 0.7); backdrop-filter: blur(30px); ">
                        <div class="card-body px-4 py-5 px-md-5">
                            <h3 class="display-5 fw-bold ls-tight mb-4"> <span>Psicoterapia</span> <br>
                                <span class="" style="color: black;">Construye tu relación contigo y con tu
                                    entorno</span>
                            </h3> <a class="btn ch-bg  btn-lg py-3 px-5 mb-2 mb-md-0 me-md-2" href="#contacto"
                                role="button" aria-controls="#picker-editor"
                                style="background-color: black; color:white; font-weight:bolder">Solicita
                                una cita</a> <a class="btn  btn-link btn-lg py-3 px-5 mb-2 mb-md-0"
                                data-ripple-color="primary" href="#servicios" role="button"
                                aria-controls="#picker-editor" style="color: #b3413e ; font-weight:bolder">Saber más</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>

    <div data-draggable="true" style="position: relative;">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10 text-center">
                {{!-- <h2 class="fw-bold mb-9 text-center">Servicios</h2> --}}
                <div class="row gx-lg-5">
                    <div class="col-lg-4 col-md-12 mb-8 mb-lg-0">
                        <div class="card shadow-2-strong h-100">
                            <div class="d-flex justify-content-center" style="margin-top: -43px">
                                <div class="p-4 bg-dark rounded-circle shadow-5-strong d-inline-block"> <i
                                        class="fas fa-cubes fa-2x text-white" aria-controls="#picker-editor"></i> </div>
                            </div>
                            <div class="card-body">
                                <h3 class="fw-bold text-dark mb-3">Terapia individual</h3>
                                <h5 class="text-muted mb-3">Components</h5>
                                <p class="text-muted">Laudantium totam quas cumque pariatur at doloremque hic quos quia
                                    eius</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-8 mb-lg-0">
                        <div class="card shadow-2-strong h-100">
                            <div class="d-flex justify-content-center" style="margin-top: -43px">
                                <div class="p-4 bg-dark rounded-circle shadow-5-strong d-inline-block"> <i class="fa-solid fa-hand-holding-heart text-white fa-2x"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <h3 class="fw-bold text-dark mb-3">Terapia de pareja</h3>
                                <h5 class="text-muted mb-3">Growth</h5>
                                <p class="text-muted">Eum nostrum fugit numquam, voluptates veniam neque quibusdam ullam
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-8 mb-lg-0">
                        <div class="card shadow-2-strong h-100">
                            <div class="d-flex justify-content-center" style="margin-top: -43px">
                                <div class="p-4 bg-dark rounded-circle shadow-5-strong d-inline-block"> <i
                                        class="fas fa-cogs fa-2x text-white" aria-controls="#picker-editor"></i> </div>
                            </div>
                            <div class="card-body">
                                <h3 class="fw-bold text-dark mb-3">Coaching para empresas</h3>
                                <h5 class="text-muted mb-3">Projects</h5>
                                <p class="text-muted">Cupiditate enim, minus nulla dolor cumque iure eveniet facere
                                    ullam</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!---->
    </div>

    <div data-draggable="true" class="davidHacherStory">
        <!---->
        <!---->
        <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="">
                <!-- Jumbotron -->
                <div class="container py-4">
                    <div class="row g-0 align-items-center">
                        <div class="col-lg-6 mb-5 mb-lg-0">
                            <div class="card cascading-right"
                                style=" background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); z-index: 1; ">
                                <div class="card-body p-lg-5 shadow-5">
                                    <h2 class="fw-bold"> <span class="">Lic. Jennifer Guzmán</span> </h2>
                                    <p class="fw-bold" style="color: grey;">Psicoterapeuta</p>
                                    <br>
                                    <p class="text-muted">
                                        Ayudo a las personas a sentirse bien consigo mismas, empodero sus ideas y les
                                        apoyo para transmitirlas a través de una de sus herramientas más importantes:
                                        <br>La imagen.
                                    </p>
                                    <p class="text-muted">
                                        "Yo quiero que te sientas cómodo contigo mismo y que comiences a ver tu armario
                                        como una oportunidad, para obtener todo lo que quieres en tu vida."
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-5 mb-lg-0"> <img src="/assets/images/jenn.jpg"
                                class="w-100 rounded-4 shadow-4 rotate-lg-6" alt="" aria-controls="#picker-editor">
                        </div>
                    </div>
                </div> <!-- Jumbotron -->
            </section>
        </section>
        <!---->
    </div>




    <div id="contacto" class="contactoDiv">
        <div data-draggable="true" style="position: relative;">
            <!---->
            <!---->
            <section draggable="false" class="container pt-5" data-v-271253ee="">
                <section class="mb-10 text-center">
                    <style>
                        hr.divider-vertical {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 1px;
                            background-image: linear-gradient(180deg, transparent, hsl(0, 0%, 40%), transparent);
                            background-color: transparent;
                            height: 100%;
                        }
                    </style>
                    <div class="card mx-4 mx-md-5 shadow-5-strong"
                        style=" margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px); ">

                        <div class="card-body py-5 px-md-5">
                            <div class="row text-center">
                                <h3>COMUNÍCATE</h3> <br> <br> <br>
                            </div>

                            <div class="row d-flex justify-content-center topMargin18">
                                <div class="col-lg-6">
                                    <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                                        <!-- Name input -->
                                        <div class="form-outline mb-4"> <input type="text" id="form4Example1"
                                                class="form-control formInput" name="name" required> <label
                                                class="form-label" for="form4Example1"
                                                style="margin-left: 0px;">Nombre</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 42.4px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Email input -->
                                        <div class="form-outline mb-4"> <input type="email" id="form4Example2"
                                                class="form-control formInput" name="email" required>
                                            <label class="form-label" for="form4Example2"
                                                style="margin-left: 0px;">Correo electrónico</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 88.8px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div> <!-- Message input -->
                                        <div class="form-outline mb-4"> <textarea class="form-control formInput"
                                                id="form4Example3" rows="4" name="message" required></textarea> <label
                                                class="form-label" for="form4Example3"
                                                style="margin-left: 0px;">Mensaje</label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 60px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div>
                                        <!-- Checkbox -->
                                        <div class="form-check d-flex justify-content-center mb-4">
                                            <input class="form-check-input me-2 formInput" type="checkbox" value=""
                                                id="form2Example33" required />
                                            <label class="form-check-label" for="form2Example33">
                                                Acepto política de privacidad
                                            </label>
                                        </div>
                                        <!-- Submit button -->
                                        <button type="submit" class="btn  bgRedRuta btn-block"
                                            aria-controls="#picker-editor">Enviar</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <!---->
        </div>
    </div>
</div>